extends layout

block content
  section.container.quotes(id="welcome")
    .row
      h2 Congrats you have an application running in a VM in a Docker Container
      br
      h2 Well Done!
      br
      h3 If you want to add to this example please feel free to make changes and push it.